html,
body {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

a:visited {
	color: inherit;
	text-decoration: none;
}

/* mouse over link */
a:hover {
	text-decoration: none;
	color: inherit;
}

/* selected link */
a:active {
	color: inherit;
	text-decoration: none;
}
@media print {
	html,
	body {
		height: initial !important;
		overflow: initial !important;
		-webkit-print-color-adjust: exact;
		top: 10px;
	}
}
